<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Notifications</string>
			<key>FooterText</key>
			<string>Changes will only take effect after the app is opened</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Do not disturb</string>
			<key>Key</key>
			<string>STSilence</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Start</string>
			<key>Key</key>
			<string>STStartOfSilence</string>
			<key>Values</key>
			<array>
                <string>00:00</string>
				<string>01:00</string>
				<string>02:00</string>
				<string>03:00</string>
				<string>04:00</string>
				<string>05:00</string>
				<string>06:00</string>
				<string>07:00</string>
				<string>08:00</string>
				<string>09:00</string>
				<string>10:00</string>
				<string>11:00</string>
				<string>12:00</string>
				<string>13:00</string>
				<string>14:00</string>
				<string>15:00</string>
				<string>16:00</string>
				<string>17:00</string>
				<string>18:00</string>
				<string>19:00</string>
				<string>20:00</string>
				<string>21:00</string>
				<string>22:00</string>
				<string>23:00</string>
			</array>
            <key>Titles</key>
			<array>
                <string>00:00</string>
				<string>01:00</string>
				<string>02:00</string>
				<string>03:00</string>
				<string>04:00</string>
				<string>05:00</string>
				<string>06:00</string>
				<string>07:00</string>
				<string>08:00</string>
				<string>09:00</string>
				<string>10:00</string>
				<string>11:00</string>
				<string>12:00</string>
				<string>13:00</string>
				<string>14:00</string>
				<string>15:00</string>
				<string>16:00</string>
				<string>17:00</string>
				<string>18:00</string>
				<string>19:00</string>
				<string>20:00</string>
				<string>21:00</string>
				<string>22:00</string>
				<string>23:00</string>
			</array>
			<key>DefaultValue</key>
			<string>00:00</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>End</string>
			<key>Key</key>
			<string>STEndOfSilence</string>
			<key>Values</key>
			<array>
                <string>00:00</string>
				<string>01:00</string>
				<string>02:00</string>
				<string>03:00</string>
				<string>04:00</string>
				<string>05:00</string>
				<string>06:00</string>
				<string>07:00</string>
				<string>08:00</string>
				<string>09:00</string>
				<string>10:00</string>
				<string>11:00</string>
				<string>12:00</string>
				<string>13:00</string>
				<string>14:00</string>
				<string>15:00</string>
				<string>16:00</string>
				<string>17:00</string>
				<string>18:00</string>
				<string>19:00</string>
				<string>20:00</string>
				<string>21:00</string>
				<string>22:00</string>
				<string>23:00</string>
			</array>
			<key>Titles</key>
			<array>
                <string>00:00</string>
				<string>01:00</string>
				<string>02:00</string>
				<string>03:00</string>
				<string>04:00</string>
				<string>05:00</string>
				<string>06:00</string>
				<string>07:00</string>
				<string>08:00</string>
				<string>09:00</string>
				<string>10:00</string>
				<string>11:00</string>
				<string>12:00</string>
				<string>13:00</string>
				<string>14:00</string>
				<string>15:00</string>
				<string>16:00</string>
				<string>17:00</string>
				<string>18:00</string>
				<string>19:00</string>
				<string>20:00</string>
				<string>21:00</string>
				<string>22:00</string>
				<string>23:00</string>
			</array>
			<key>DefaultValue</key>
			<string>00:00</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Release information</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>version</string>
			<key>DefaultValue</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>About</string>
			<key>File</key>
			<string>About</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>AlertasMobile</string>
</dict>
</plist>
